.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    
}

.card {
    height: 300px;
    width: 360px;
    margin: 3rem 0 0;
    background-image: url('../oldscreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
    filter: drop-shadow(5px 5px 10px white) invert(70%);
    color: white;
    cursor: pointer;
    transition: 0.8s;
    
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: aqua;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: azure;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    min-height: 100px;
    min-width: 165px;
    display: block;
    border: 1px solid white;
    border-radius: 20px;
    opacity: 0;
    transition: 0.8s;
    padding: 5px;
}

.card-wrapper h3 {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.8s;
    color: greenyellow;

}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.9s all ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    min-height: 100px;
    min-width: 165px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 15px;
}

.card-container .card a {
    text-decoration: none;
    color: greenyellow;
}
.card .card-wrapper:hover {
    color: rgb(157, 233, 122);
}
.ball {
    border: 1px solid greenyellow;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
}

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }
    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }
    .card {
        height: 300px;
        width: 300px;
    }
    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: justify;

    }
    .card:hover > .card-wrapper::before {
        height: 100px;
        width: 150px;
    }
}