@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&diplay=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

body {
    font-family: 'amatic sc', sans-serif;
    background-color: black;
    color: white;
    
}

a {
    text-decoration: none;
    color: greenyellow;
}

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

